@import "tailwindcss";
@import "tailwindcss-animated";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-sans: var(--font-quicksand);
  --font-heading: var(--font-erica-one);
  --color-cream: oklch(0.9585 0.0329 83.71);
  --color-coral: oklch(0.7335 0.1635 14.62);
  --color-orange: oklch(79.038% 0.12628 40.999);
  --color-purple: oklch(0.6597 0.1767 281.14);
  --color-gold: oklch(0.8536 0.1355 79.29);
  --color-teal: oklch(0.9175 0.09 202.67);
  --color-indigo: oklch(42.142% 0.19215 293.758);
  --color-navy: oklch(9.237% 0.02109 239.797);
  --breakpoint-xs: var(--breakpoint-xs);
  --breakpoint-xxs: var(--breakpoint-xxs);
  --gradient-gold-teal-coral: linear-gradient(to right, var(--color-gold), var(--color-teal), var(--color-coral));
  --radius: 0.625rem;
  --background: oklch(98.5% 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: var(--color-coral);
  --border: var(--color-navy);
  --input: oklch(0.923 0.003 48.717);
  --ring:oklch(0.6597 0.1767 281.14);;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

@theme inline {
  --font-sans: var(--font-quicksand);
  --font-heading: var(--font-heading);
  --color-cream: var(--color-cream);
  --color-coral: var(--color-coral);
  --color-purple: var(--color-purple);
  --color-gold: var(--color-gold);
  --color-teal: var(--color-teal);
  --color-orange: var(--color-orange);
  --color-indigo: var(--color-indigo);
  --color-navy: var(--color-navy);
  --breakpoint-xs: 30rem;
  --breakpoint-xxs: 25rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(1 0 0);
  --card: oklch(0.147 0.004 49.25);
  --card-foreground: oklch(1 0 0);
  --popover: var(--color-navy);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.985 0.001 106.423);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: var(--color-indigo);
  --muted-foreground: var(--color-gold);
  --accent: oklch(0.216 0.006 56.043);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --border: var(--color-indigo);
  --input: oklch(0.8 0.12 79.6);
}


@layer base {
  html {
    @apply scroll-smooth
  }

  * {
    @apply border-border outline-ring outline-offset-8;
  }


  body {
    @apply bg-background text-foreground font-sans font-medium text-shadow-sm;
  }

  h1 {
    @apply text-5xl md:text-6xl font-heading text-center text-coral mb-8 text-shadow-md drop-shadow-[-5px_5px_var(--color-purple)] dark:drop-shadow-[-5px_5px_var(--color-indigo)];
    -webkit-text-stroke: 2px var(--color-navy);
  }

  h2 {
    @apply text-2xl sm:text-3xl font-bold mb-2;
  }

  h3 {
    @apply text-xl sm:text-2xl font-semibold mb-2;
  }

  p {
    @apply leading-relaxed;
  }

  ul {
    @apply list-disc list-outside space-y-2 pl-5;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(circle at 20% 25%,
        oklch(0.8 0.12 79.6),
        oklch(0.75 0.1 189.5),
        oklch(0.67 0.15 20.62),
        oklch(0.56 0.12 295.3));
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: radial-drift 18s ease-in-out infinite;
  }

  .dark .bg-gradient-radial {
    background-image: radial-gradient(circle at 20% 25%,
        oklch(22.526% 0.06574 262.439),
        oklch(28.944% 0.11837 293.013),
        oklch(0.32 0.15 20.62),
        oklch(0.18 0.09 189.5));
  }

  .float-circle {
    @apply float-left mr-6 mb-4 max-sm:float-none max-sm:inline-flex max-sm:justify-center max-sm:mx-auto max-sm:mb-6 max-sm:w-full;
    shape-outside: circle();
    -webkit-shape-outside: circle();
  }

  @media (prefers-reduced-motion: no-preference) {
    @keyframes move-background {
      from {
        -webkit-transform: translate3d(0, 0px, 0px);
      }

      to {
        -webkit-transform: translate3d(70vw, 0px, 0px);
      }
    }

    @keyframes radial-drift {

      0%,
      100% {
        background-position: 20% 25%;
      }

      50% {
        background-position: 25% 30%;
      }
    }

    @keyframes twinkle {
      0% {
        opacity: 0.4;
      }

      30% {
        opacity: 1;
      }

      70% {
        opacity: 0.2;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes float {
      0% {
        transform: translatey(0px);
      }

      50% {
        transform: translatey(-15px);
      }

      100% {
        transform: translatey(0px);
      }
    }

    @keyframes wave {
      0% {
        transform: rotate(0deg);
      }

      10% {
        transform: rotate(-10deg);
      }

      20% {
        transform: rotate(12deg);
      }

      30% {
        transform: rotate(-10deg);
      }

      40% {
        transform: rotate(9deg);
      }

      50% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(0deg);
      }

    }
  }

  .bg-radial-blur::before {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 20% 25%,
        oklch(0.8 0.12 79.6) 0%,
        transparent 70%);
    filter: blur(80px);
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
  }

  .bg-radial-blend::before {
    mix-blend-mode: overlay;
  }

  .wave {
    animation: wave-animation 2s infinite 1.5s;
  }

}
